{% extends 'base.html' %}
{% block title %}About{% endblock %}
{% block body %}
  <main class="h-100 py-5">
    <div class="container h-100 d-flex flex-column align-items-center text-center">
      <div style="max-width: 600px;">
        <h1 class="display-1 text-capitalize fw-bold pb-4" style="font-size: min(calc(1.75rem + 3vw), 4rem);"><span class="text-primary">About</span> us</h1>
        <p class="pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquet sem suspendisse tristique habitant consectetur cursus at. Leo in eget convallis nunc rhoncus nulla m</p>
      </div>
      <div class="row justify-content-center pb-5 g-5">
        <div class="col-12 col-sm-6 col-lg-3" style="max-width: 300px;">
          <div class="card bg-warning rounded-5">
            <img src="/static/images/About_magda.jpeg" alt="Magda" class="rounded-circle w-100 p-4" style="aspect-ratio: 1/1; object-fit: cover;">
            <div class="bg-info rounded-5" style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
              <h5 class="card-title my-3">Magda</h5>
              <p><i class="fa-solid fa-location-dot"></i>&ensp; United Kingdom</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3" style="max-width: 300px;">
          <div class="card bg-warning rounded-5">
            <img src="/static/images/About_maneh.jpeg" alt="Maneh" class="rounded-circle w-100 p-4" style="aspect-ratio: 1/1; object-fit: cover;">
            <div class="bg-info rounded-5" style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
              <h5 class="card-title my-3">Maneh</h5>
              <p><i class="fa-solid fa-location-dot"></i>&ensp; United Kingdom</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3" style="max-width: 300px;">
          <div class="card bg-warning rounded-5">
            <img src="/static/images/About_ruth.jpeg" alt="Ruth" class="rounded-circle w-100 p-4" style="aspect-ratio: 1/1; object-fit: cover;">
            <div class="bg-info rounded-5" style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
              <h5 class="card-title my-3">Ruth</h5>
              <p><i class="fa-solid fa-location-dot"></i>&ensp; Hungary</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-lg-3" style="max-width: 300px;">
          <div class="card bg-warning rounded-5">
            <img src="/static/images/About_samin.png" alt="Samin" class="rounded-circle w-100 p-4" style="aspect-ratio: 1/1; object-fit: cover;">
            <div class="bg-info rounded-5" style="border-top-left-radius: 0 !important; border-top-right-radius: 0 !important;">
              <h5 class="card-title my-3">Samin</h5>
              <p><i class="fa-solid fa-location-dot"></i>&ensp; United Kingdom</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
