{% extends 'base.html' %}
{% block title %}Destinations{% endblock %}
{% block body %}

  <main class="h-100 py-3">
    <div class="container-fluid h-100 d-flex flex-column px-5 text-center">
      <div>
        <h1 class="display-1 text-capitalize fw-bold pb-4" style="font-size: min(calc(1.75rem + 3vw), 4rem);"><span class="text-primary">Discover </span>{{city.name.capitalize()}}</h1>
      </div>

      <div class="row">
          <div class="col-6 p-4 border">Maps</div>
          <div class="col-6 p-4 border">
              <div class="row">
                  <div class="col-8 p-4 border">
                      <div class="row">
                          <div class="col-6 p-4 border">amount</div>
                          <div class="col-6 p-4 border">currency</div>
                      </div>
                      <div class="row">
                          <div class="col-6 p-4 border">amount</div>
                          <div class="col-6 p-4 border">currency</div>
                      </div>
                  </div>
                  <div class="col-4 p-4 border">weather</div>
              </div>
              <div class="row">
                  <div class="col-6 p-4 border">
                      <div class="row">
                          <div class="col-12 p-1 border">Language1</div>
                      </div>
                      <div class="row">
                          <div class="col-12 p-4 border">Sentence1</div>
                      </div>
                  </div>
                  <div class="col-6 p-4 border">
                      <div class="row">
                          <div class="col-12 p-1 border">Language2</div>
                      </div>
                      <div class="row">
                          <div class="col-12 p-4 border">Sentence2</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <div>
        <h3 class="display-1 text-capitalize fw-bold p-4" style="font-size: min(calc(1.5rem + 2.5vw), 3rem);"><span class="text-primary">Discover events</span></h3>
    </div>

    <div class="row">
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>Name of event</h5>
                    <p>Description</p>
                    <p>Date and Time</p>
                    <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>Name of event</h5>
                    <p>Description</p>
                    <p>Date and Time</p>
                    <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>Name of event</h5>
                    <p>Description</p>
                    <p>Date and Time</p>
                    <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>Name of event</h5>
                    <p>Description</p>
                    <p>Date and Time</p>
                    <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                </div>
            </div>
        </div>
    </div>


        <div>
            <h3 class="display-1 text-capitalize fw-bold p-4" style="font-size: min(calc(1.5rem + 2.5vw), 3rem);"><span class="text-primary">Attractions</span></h3>
        </div>
        <div class="row">
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>

{% endblock %}