{% extends 'base.html' %}
{% block title %}Destinations{% endblock %}
{% block body %}

  <main class="h-100 py-3">
    <div class="container-fluid h-100 d-flex flex-column px-5 text-center">
      <div>
        <h1 class="display-1 text-capitalize fw-bold pb-4" style="font-size: min(calc(1.75rem + 3vw), 4rem);"><span class="text-primary">Discover </span>{{city.name.capitalize()}}</h1>
      </div>

      <div class="row">
          <div class="col-6 p-4 border">Maps</div>
          <div class="col-6 p-4 border">
              <div class="row">
                  <div class="col-8 p-4 border">
                      <div class="row">
                          <div class="col-6 p-4 border">amount</div>
                          <div class="col-6 p-4 border">currency</div>
                      </div>
                      <div class="row">
                          <div class="col-6 p-4 border">amount</div>
                          <div class="col-6 p-4 border">currency</div>
                      </div>
                  </div>
                  <div class="col-4 p-4 border">
                    <img src={{weather['icon']}} class="w-50"></img>
                    <p class="h3 mb-4">{{weather['weather']}}</p>
                    <p class="h5 mb-4">{{weather['city']}}</p>
                    <p class="display-2"><strong>{{weather['temp']}} C</strong> </p>
                    <p class="h5 mb-4">Sunrise: {{weather['sunrise']}} </p>
                    <p class="h5 mb-4">Sunset: {{weather['sunset']}}</p>
                  </div>
                  </div>
              <div class="row">
                  <div class="col-6 p-4 border">
                      <div class="row">
                          <div class="col-12 p-1 border">Language1</div>
                      </div>
                      <div class="row">
                          <div class="col-12 p-4 border">Sentence1</div>
                      </div>
                  </div>
                  <div class="col-6 p-4 border">
                      <div class="row">
                          <div class="col-12 p-1 border">Language2</div>
                      </div>
                      <div class="row">
                          <div class="col-12 p-4 border">Sentence2</div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

    <div>
        <h3 class="display-1 text-capitalize fw-bold p-4" style="font-size: min(calc(1.5rem + 2.5vw), 3rem);"><span class="text-primary">Discover events</span></h3>
    </div>

    <div class="row">
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>{{events[1]['name']}}</h5>
                    <p>{{events[1]['description']}}</p>
                    <p>Date and Time: {{events[1]['start_time']}} </p>
                    <a href="{{events[1]['event_url']}}">
                    <img src="{{events[1]['image']}}" alt="Event" class="w-100" style="height: 200px; object-fit: cover;"></a>
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>{{events[2]['name']}}</h5>
                    <p>{{events[2]['description']}}</p>
                    <p>Date and Time: {{events[2]['start_time']}} </p>
                    <a href="{{events[2]['event_url']}}">
                    <img src="{{events[2]['image']}}" alt="Event" class="w-100" style="height: 200px; object-fit: cover;"></a>
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>{{events[3]['name']}}</h5>
                    <p>{{events[3]['description']}}</p>
                    <p>Date and Time: {{events[3]['start_time']}} </p>
                    <a href="{{events[3]['event_url']}}">
                    <img src="{{events[3]['image']}}" alt="Event" class="w-100" style="height: 200px; object-fit: cover;"></a>
                </div>
            </div>
        </div>
        <div class="col-3 p-4">
            <div class="card bg-warning">
                <div class="card-body">
                    <h5>{{events[4]['name']}}</h5>
                    <p>{{events[4]['description']}}</p>
                    <p>Date and Time: {{events[4]['start_time']}} </p>
                    <a href="{{events[4]['event_url']}}">
                    <img src="{{events[4]['image']}}" alt="Event" class="w-80" style="height: 200px; object-fit: cover;"></a>
                </div>
            </div>
        </div>
    </div>


        <div>
            <h3 class="display-1 text-capitalize fw-bold p-4" style="font-size: min(calc(1.5rem + 2.5vw), 3rem);"><span class="text-primary">Attractions</span></h3>
        </div>
        <div class="row">
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
            <div class="col-3 p-4">
                <div class="card bg-warning">
                    <div class="card-body">
                        <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;">
                        <h5>Name of attraction</h5>
                        <p>Address</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>

{% endblock %}