{% extends 'base.html' %}
{% block title %}Destinations{% endblock %}
{% block body %}
  <main class="h-100 py-5">
    <div class="container h-100 d-flex flex-column align-items-center text-center">
      <div style="max-width: 600px;">
        <h1 class="display-1 text-capitalize fw-bold pb-4" style="font-size: min(calc(1.75rem + 3vw), 4rem);"><span class="text-primary">Explore</span> the world</h1>
        <p class="pb-4">More destinations coming very soon!</p>
      </div>
      <div class="row g-5" style="padding-bottom: 6.5rem;">
        <div class="col-12 d-flex flex-column align-items-center">
          <div class="d-inline-block align-self-md-start mb-2" style="position: relative;">
            Destinations
            <hr class="opacity-100 my-0 border-light" style="position: absolute; bottom: -25%; right: 25%; width: 100vw;">
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-warning text-start">
            <div class="card-body">
              <a role="button" href="/destinations/barcelona">
              <img src="/static/images/Destinations_sagrada_familia.jpg" alt="Sagrada Familia" class="w-100" style="height: 200px; object-fit: cover;"></a>
              <h5 class="card-title my-3">Basilica de la Sagrada Familia</h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i>&ensp;Barcelona, Catalonia, Spain</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-warning text-start">
            <div class="card-body">
              <a role="button" href="/destinations/budapest">
                <img src="/static/images/Destinations_budapest_parliament.jpg" alt="Budapest Parliament" class="w-100" style="height: 200px; object-fit: cover;"></a>
              <h5 class="card-title my-3">Budapest Parliament</h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i>&ensp;Budapest, Hungary</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-warning text-start">
            <div class="card-body">
              <a role="button" href="/destinations/prague">
                <img src="/static/images/Destinations_prague_castle.jpg" alt="Prague Castle" class="w-100" style="height: 200px; object-fit: cover;"></a>
              <h5 class="card-title my-3">Prague Castle</h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i>&ensp;Prague, Czechia</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card bg-warning text-start">
            <div class="card-body">
              <a role="button" href="/destinations/london">
                <img src="/static/images/Destinations_buckingham_palace.png" alt="Buckingham Palace" class="w-100" style="height: 200px; object-fit: cover;"></a>
              <h5 class="card-title my-3">Buckingham Palace</h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i>&ensp;London, United Kingdom</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
