{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}
  <main class="h-100 py-5">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <div class="col-lg d-flex flex-column justify-content-center align-items-center px-5">
          <div style="max-width: 650px; max-width: min(calc(17.75rem + 30.5vw), 650px);">
            <h1 class="display-1 fw-normal pb-5" style="font-size: min(calc(2.625rem + 4.5vw), 6rem);">Let's go travel with us</h1>
            <p class="pb-5">We're on a mission to make world discovery more enjoyable and stress-free!</p>
          </div>
          <a role="button" href="/destinations" class="btn btn-outline-light mb-3 px-4 rounded-0" style="position: relative;">
            Destinations
            <hr class="opacity-100 my-0 border-light" style="position: absolute; top: 50%; right: 100%; width: 100vw;">
          </a>
        </div>
        <div class="col-lg d-flex flex-column justify-content-center align-items-center">
          <img src="/static/images/Home_cities.png" alt="Cities" class="img-fluid py-5" style="max-height: 80vh;">
        </div>
      </div>
    </div>
  </main>
{% endblock %}
