{% extends 'base.html' %}
{% block title %}Destinations{% endblock %}
{% block body %}
  <main class="h-100 py-5">
        <div class="container h-100 d-flex flex-column align-items-center text-center">
        <div class="col-md-4 my-auto">
          <div class="card bg-warning text-center">
            <div class="card-body">
              <img src="/static/images/blank-profile-picture.webp" alt="Blank Profile Picture" style="height: 200px; width: 200px; object-fit: cover;" class="rounded-circle">
              <h5 class="card-title my-2 pt-5">{{user.name}}</h5>
              <p class="card-text">&ensp;{{user.email}}</p>
            </div>
          </div>
  </main>
{% endblock %}
