{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block body %}

<style>
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
  }

  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  </style>
  <div class="topnav">
    <a class="active" href="/profile">Holiday Helper</a>
     <a class="active" href="/{{content['city'].lower()}}">Go to {{content['city']}}</a>
        <form action="/logout" method="post">
      <button type="submit" class="btn btn-dark">Logout</button>
    </form>
  </div>

<section class="vh-100" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-8 col-lg-6 col-xl-4">

        <div class="card" style="border-radius: 10px;">
          <div class="bg-image ripple" data-mdb-ripple-color="light"
            style="border-top-left-radius: 10px; border-top-right-radius: 10px;">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-weather/draw2.webp"
              class="w-100" />
            <div class="mask" style="background-color: rgba(0,0,0,.45)">
              <div class="d-flex justify-content-between p-4">
                <a href="#!" class="text-white"><i class="fas fa-chevron-left fa-lg"></i></a>
                <a href="#!" class="text-white"><i class="fas fa-cog fa-lg"></i></a>
              </div>
              <div class="text-center text-white">
                <p class="h3 mb-4">{{content['weather']}}</p>
                <p class="h5 mb-4">{{content['city']}}</p>
                <p class="display-2"><strong>{{content['temp']}} C</strong> </p>
                <p class="h5 mb-4">Sunrise: {{content['sunrise']}} </p>
                <p class="h5 mb-4">Sunset: {{content['sunset']}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

{% endblock %}